<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="css/styleFluido100.css">
  </head>
  <body>
    <header class="cabecera">
      <img src="imagen.png" alt="logo">
      <h1>Cabecera Del sitio Web</h1>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="articulo1">
        <hgroup>
            <header>
              <h1>Titulo de la primera entrada</h1>
            </header>
            <header>
              <h2>Subtitulo de la primera entrada</h2>
            </header>
            <br>
            <header>
              <time datetime="10-10-2016">Publicado 10-10-2016</time>
            </header>
            <br>
          </hgroup>
          <caption>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</caption>
          <figure>
            <img src="blogs-bloguers.jpg" alt="foto_blog">
          </figure>
          <figcaption>Este es el caption de la imagen</figcaption>
          <footer class="coment">Comentarios(0)</footer>
        </article>
        <article class="articulo2">
          <hgroup>
              <header>
                <h1>Titulo de la segunda entrada</h1>
              </header>
              <header>
                <h2>Subtitulo de la segunda entrada</h2>
              </header>
              <br>
              <header>
                <time datetime="10-10-2016">Publicado 10-10-2016</time>
              </header>
            </hgroup>
            <br>
            <caption>Este es el text de mi segunda entrada</caption>

            <footer class="coment">Comentarios(0)</footer>
          </article>
          <aside class="menuLateral">
            <ul>
              <li><a href="#">Enero</a>
                <ul>
                  <li><a href="#">1ªSemana</a></li>
                  <li><a href="#">2ªSemana</a></li>
                </ul>
              </li>
              <li><a href="#">Febrero</a>
                <ul>
                  <li><a href="#">1ªSemana</a></li>
                  <li><a href="#">2ªSemana</a></li>
                </ul>
              </li>
            </ul>
          </aside>
        </section>
      <footer class="pie">
        <hr>
        <p>Derechos Reservados &copy; 2016-2020</p>
      </footer>

  </body>
</html>
