*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*--------------------cabecera----------------------------------*/
header.cabecera{
  display: table;
  width: 100%;
  background-color: lightblue;
  position: fixed;
  padding: 10px;

}
header img{
  width: 100px;
  vertical-align: middle;
  margin: 20px;
  display:table-cell;
}
figure img{
  height: 100px;
  width: 100px;
}
.cabecera h1{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
  font-family: Helvetica;
}

nav{
    display: table-cell;
    text-align: right;
    vertical-align: top;
  }

  nav li a{
    text-decoration: none;
    color: white;
    display: block;
  }
  nav li{
    display: inline-block;
    margin: 2px;
    padding:12px;
    background-color: steelblue;
  }
  nav li:hover{
    background: darkblue;
  }

  /*-----------contenedor--------------------------*/
  body{
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  .contenedor{
    width: 960px;
    margin: auto;
    text-align: left;
    padding-top:134px;
    flex: 1;
  }
section{
  margin:20px;
  width: 660px;
  float: left;
}
article{
  background-color:linen;
  border-radius: 2px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;

}
article h1{
  font-size: 24px;
  font-family: Verdana;
  font-weight: bold;
}
h2,a{
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
}
 article img{
   width: 200px;
   height: 200px;
 }
aside{
  padding: 20px;
  width:220px;
  float: left;
  margin-left:20px;
  margin-top:20px;
  background-color: lightgrey;
}
aside ul{
  padding: 10px 20px;
}
aside li{
  list-style-type: none;
  text-align: left;
}
aside li a{
  text-decoration: none;
  color:black;
  font-weight: bold;
}
aside li ul{
  display: none;
}
aside li:hover ul{
  display: block;
  font-style: italic;
  padding-left: 20px;
}
aside li:hover li{
  list-style-type: disc;
}

/*---------------------------------pie----------------------------------------------*/
footer.coment{
  text-align: right;
  color: blue;
  font-weight: bold;

}
footer.pie{
  width: 100%;
  position: fixed;
  text-align: center;
  clear: both;

}
