.mute{
       background: url('spritesAudio.png') no-repeat -1px -1px;
       width: 128px;
       height: 128px;
       float:left;
     }
     .menosVol{
       width: 128px;
       height: 128px;
       background: url("spritesAudio.png") no-repeat -513px -1px;
       float:left;
     }
     .masVol{
       width: 128px;
       height: 128px;
       background: url("spritesAudio.png") no-repeat -257px -1px;
       float:left;
     }
     .play{
       background: url("spritesAudio.png") no-repeat -769px -1px;
       width: 127px;
       height: 127px;
       float:left;
     }
     .stop{
       background: url("spritesAudio.png") no-repeat -1024px -1px;
       width: 129px;
       height: 129px;
       float:left;
     }
     .mute:hover, .menosVol:hover, .masVol:hover, .stop:hover, .play:hover{
       opacity: 0.7;
     }
     .cancion{
       height: 150px;
     }
     .audios span{
       margin: 10px;
     }
